@charset "UTF-8";    
        
        @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Ultra&display=swap');
        @font-face {
            font-family: 'grantham';
            src: url(fontes/granthamcondensed\ bold.ttf) format('truetype');
            font-weight: normal;
            font-style: normal;
        
        }

body {
    color: #ffffff;
    background-image: linear-gradient(to right, #0E5959, #4C6A52, #8C7F56);
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

   

header {
    padding: 5px;
    margin-bottom: 0;
}

img {
    width: 200px;
    height: 200px;
    max-width: 100%; 
    height: auto;
    margin-top: 30px;
}


h1 {
    color: #41BF6D;
    font-family: "Ultra", serif;
    font-size: 45px;
    font-weight: 300;
    margin: 0;
}

h2 {
    color: #000000;
    font-family: 'grantham', serif ;
    font-size: 30px;
    margin: 0 0 40px 0;
}


nav {
    margin-bottom: 0;
}


nav button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 250px; 
    max-width: 90%;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}

nav button:hover {
    background-color: #1ec51e27 !important; /* !important aplicado pois ao passar o mouse 
    por cima dos botões estava ficando azul e não com a cor que foi colocada */
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #cccccc;
    background-color: #00000033;
    text-align: center;
    font-size: 0.9em;
}

